.full {
  width:100vw;
  height: 100vh;
  user-select:none;
  position:relative;
  display:flex;
  flex-wrap: wrap;
  align-items:stretch;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: hidden;
}

body {
  margin:0;
  padding:0;
  transform-style: preserve-3d;
}

.point {
  padding:0;
  border-radius: 50%;
  border: 2px solid hsla(0,0%,0%,0.3);
  flex:0 0 16px;
  height:16px;
  transition: all 200ms;
}

.pointer.orienter {
  height:36px;
  width:16px;
}

.pointer {
  border:2px solid hsla(0,0%,0%,0.3);
  border-radius:16px;
  z-index:10;
  position: absolute;
  width:16px;
  height:16px;
  transition: all ease 200ms;
}

.own {
  border: 2px solid hsla(0,0%,0%,0.8);
}

.own .pointer {
  border:2px solid hsla(0,0%,0%,0.8);
}
